body{
    margin: 0;
    overflow-x: hidden;
}

.header{
    background-color:#f0f0f0;
    width: 100%;
    height: 55px;
}

.left{
    height: 55px;
    width: 50%;
    font-family: Noto Sans,sans-serif;
    font-weight: 400;
    font-size: .875rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    float: left;
    /* column-gap: 20px; */
}

.header-left-divs{
    margin-left: 13px;
    margin-right: 13px;

}

.right{
    width: 50%;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    font-size: .875rem;
    font-family: Noto Sans,sans-serif;
    font-weight: 400;
   

    
    
    
}

.header-right-divs{
    margin-left: 13px;
    margin-right: 13px;
    display: flex;

    
}
.header2{
   
    width: 100%;
    height: 60px;
    
    
}
.logo{
    
    width: 30%;
    float: left;
    height: 100%;
}
.centre{
    width: 40%;
    
    padding-top: 20px;
    text-align: left;
    display: flex;
    flex-direction: row;
    float: left;
    justify-content: center;
    font-family: Noto Sans,sans-serif;
    font-weight: 40;
    
    
    
   
    
}
.material-icons menu--local__icon{
    color: #80c343;
}
.centre-divs{
    margin-left: 26px;
    display: flex;
}
.right2{
    
    width: 30%;
    height: 55px;
    display: flex;
    justify-content: end;
    align-items: center;
    
    
}
.searchicon{
    padding-right: 23px;
    padding-top: 13px;
    
}
    

.container{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 75vh;
}

.slider-wrapper{
    position: relative;
    display: inline-flex;
}

.slider{
    display: block;
    width: 100vw !important;
}

.session{
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 74vh;
}

.sliderbody{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex !important;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    z-index: 45;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    display: flex !important;
}

.sliderbody img{
    position: absolute;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    width: 100vw;
    height: 100%;
    left: 0;
    bottom: 0;
    top: 0;
    object-position: center;
    display: flex;
    flex: 1 1 100%;
    z-index: 0;
}

.caption{
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    margin-left: 190px;
}

.caption h1{
    color: white;
    font-size: 40px;
    font-weight: 700;
    font-family: Noto Sans,sans-serif;
}
.caption h2{
    color: #ffffff;
    font-size: 2.375rem;
    font-weight: 700;
    font-family: Noto Sans,sans-serif;
}
.caption p{
    color: #ffffff;
    font-size: 21px;
    font-family: Noto Sans,sans-serif;
}
.caption button{
    height: 55px;
    width: 200px;
    font-size: medium;
    font-family: Noto Sans,sans-serif;
    
}
.caption button:hover{
 
    background-color: #000;
    color: #ffffff;
}





.heading{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}
.laptop{
    display: flex;
    column-gap: 80px;
    
    width: 100%;
    margin-top: 40px;
    
    height: 100px;
    justify-content: center;
    
    
    
}
.laptop-div{
    height: 100px;
    width: 150px; 
}

.laptop-div:hover{
    font-weight: 900;
}



.laptop-div p{
    padding-left: 5rem;
    font-size: large;
}

.lap-images{
    width: 210px;
    margin-right: 40px;
    
    
}

.img2row{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 200px;
    margin-left: 10px;
}

.secrow-images{
    width: 329px;
    height: 329px;
}
.secrow-div{
    width: 345px;
    height: 345px;
}
.textdiv{
    display: flex;
    width: 100%;
    justify-content:center;
    padding-left: 30px;
}
.textdiv-sub{
    width: 345px;
    height: 250px;
    
}
h1{
    font-size: 1.25rem;
    color: #000;
    font-weight: 1400;
    font: 20px"Noto Sans",sans-serif;
    

}
a{
    text-decoration: none;
    text-decoration: underline;
    text-decoration-color: #80c343;
    color: black;
    font-size: 20px;
}

li{
    list-style-type: none;
}
.last-textdiv{
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #fafafa;
    display: flex;
    padding-right: 3rem;
    justify-content: space-between;
    cursor: pointer;

}
.last-textdiv-sub{
    display: flex;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    list-style: none;
    flex-direction: row;
}

.last-textdiv-sub ul li{
    display: flex;
    list-style: none;
    font-size: 16px;
    padding-bottom: 0.5rem;
}


.items li:hover{
    text-decoration: underline;
}

.secrow-div img:hover{
    transform: scale(1.1);
}


.footer{
    height: 23vh;
    width: 100%;
    background: black;
}

.footerhead{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footersub{
    width: 50%;
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.footersub li{
    display: inline-block;
    padding-right: 0.5rem;

}

.footersub li a{
    font-size: small;
    text-decoration: none;
    color: white;
    padding: 3px 0;
    position: relative;
}

.iconitem{
    background-color: #474747;
    border-radius: 9999px;
    height: 34px;
    width: 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff; 
}

.footersub li a:hover{
    text-decoration: underline;
}

.social{
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-right: 2rem;
}

.social li{
    display: inline-block;
    padding-left:rem 
}

.social li a{
    text-decoration: none;
    position: relative;
}